@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.wheel {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid black;
    position: relative;
    overflow: hidden;
    transition: transform 4s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    position: relative;
}

.spinner {
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(
        red 0% 14.28%,
        black 14.28% 28.56%,
        green 28.56% 42.84%,
        yellow 42.84% 57.12%,
        blue 57.12% 71.4%,
        white 71.4% 85.68%,
        orange 85.68% 100%
    );
    border-radius: 50%;
}

.section {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transform-origin: 100% 50%;
    clip-path: polygon(100% 50%, 0% 100%, 0 0);
}

.number-container {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 10px;
    left: 0;
}

.number {
    display: inline-block;
    transform: rotate(-45deg);
    font-weight: bold;
}
